<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.celess.blog.mapper.PartnerMapper">
    <resultMap id="partnerSiteResultMap" type="cn.celess.blog.entity.PartnerSite">
        <id column="site_id" property="id"/>
        <result column="site_name" property="name"/>
        <result column="site_url" property="url"/>
        <result column="is_open" property="open"/>
    </resultMap>

    <insert id="insert" parameterType="cn.celess.blog.entity.PartnerSite">
        insert into links (site_name, is_open, site_url)
        values (#{name}, #{open}, #{url})
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="update" parameterType="cn.celess.blog.entity.PartnerSite">
        update links set
        <if test="name!=null">site_name=#{name},</if>
        <if test="url!=null">site_url=#{url},</if>
        <if test="open!=null">is_open=#{open}</if>
        where site_id=#{id}
    </update>

    <delete id="delete">
        delete
        from links
        where site_id = #{id}
    </delete>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS(SELECT * FROM links WHERE site_id = #{id})
    </select>

    <select id="existsByName" resultType="boolean">
        SELECT EXISTS(SELECT * FROM links WHERE site_name = #{name})

    </select>

    <select id="existsByUrl" resultType="boolean">
        SELECT EXISTS(SELECT * FROM links WHERE site_url = #{url})

    </select>

    <select id="findById" resultMap="partnerSiteResultMap">
        select *
        from links
        where site_id = #{id}
    </select>

    <select id="findByName" resultMap="partnerSiteResultMap">
        select *
        from links
        where site_name = #{name}
    </select>

    <select id="findByUrl" resultMap="partnerSiteResultMap">
        select *
        from links
        where site_url = #{url}
    </select>
    <select id="getLastest" resultMap="partnerSiteResultMap">
        select *
        from links
        order by site_id desc
        limit 1
    </select>
    <select id="findAll" resultMap="partnerSiteResultMap">
        select *
        from links
    </select>


</mapper>