<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.celess.blog.mapper.VisitorMapper">
    <resultMap id="partnerSiteResultMap" type="cn.celess.blog.entity.Visitor">
        <id column="v_id" property="id"/>
        <result column="v_date" property="date"/>
        <result column="v_user_agent" property="ua"/>
        <result column="v_ip" property="ip"/>
    </resultMap>

    <insert id="insert">
        insert into visitor (v_date, v_ip, v_user_agent)
        values (#{date}, #{ip}, #{ua})
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <delete id="delete">
        delete
        from visitor
        where v_id = #{id}
    </delete>
    <select id="findAll" resultMap="partnerSiteResultMap">
        select *
        from visitor order by v_id desc
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from visitor
    </select>


</mapper>